label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.3125rem;
  color: #333;
  font-size: 0.875rem;
}

.input-wrapper {
  position: relative;
  display: flex;
}

.input-wrapper img {
  position: absolute;
  right: 3%;
  top: 25%;
  height: 1rem;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 0.625rem 0.75rem;
  margin-bottom: 0.3125rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  transition: border-color 0.2s;
}

input:hover {
  border-color: #bbb;
}

input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0.3125rem rgba(79, 70, 229, 0.3);
  outline: none;
}

input[type="password"] {
  padding-right: 3rem;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  background: #4f46e5;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.625rem;
  transition: 0.3s;
}

.btn:hover {
  background: #3730a3;
}

.error-msg {
  color: #dc2626;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}