/* OTP Container */
.otp-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.otp-box {
  width: 45px;
  height: 55px;
  font-size: 22px;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.otp-box.success {
  border-color: lightgreen;
  background: #e6ffed;
}

.otp-box.error {
  border-color: red;
  background: #ffe6e6;
  animation: shake 0.3s;
}

#verifyBtn {
  margin-top: 1.25rem;
}

/* Shake Animation */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-5px);
  }
  40%,
  80% {
    transform: translateX(5px);
  }
}

/* Timer */
.timer {
  margin: 10px 0;
  font-size: 14px;
  color: #555;
}

/* Resend */
.resend {
  color: #4f46e5;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.resend.disabled {
  color: #aaa;
  pointer-events: none;
}
